

.container{
    background-color: bisque;
    max-width: 90rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titulo{
    color: var(--primary);
}
.contadorDisplay{
    font-size: 3rem;
    font-weight: bold;
    color: var(--primary);
    padding: 2rem;
}
.botaoContainer{
    padding: 2rem;
    gap: 1rem;
}

.botao{
    padding: 2rem;
    background-color: var(--gray-300);

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    font-weight: bold;
}