body{
    margin: 0;
}
.container{
    margin: 0;
    padding: 0;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #d8f3dc;
    width: 100vw;
    height: 100vh;
}
.header{
    margin: 0;
    background-color: #52b788;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 12%;
}
.contador{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    flex-direction: column;
    width: 18.75rem;
    height: 18.75rem;
    margin-top: 9.375rem;
    border-radius: 5%;
    border: 1px solid #95d5b2;
    background-color: #b7e4c7;
}
.contador h2{
    font-size: 1.875rem;
    color: #1b4332;
    margin: 0;
}
.numero{
    font-size: 1.25rem;
    margin: .3125rem;
    color: #1b4332;
}

